aniso8601==8.0.0
apparmor==3.0.1
appdirs==1.4.4
application-utility==1.3.2
APScheduler==3.7.0
apsw==3.34.0.post1
asn1crypto==1.4.0
astroid==2.4.2
autopep8==1.5.4
bauh==0.9.13
Beaker==1.11.0
beautifulsoup4==4.9.3
btrfsutil==5.9
CacheControl==0.12.6
catfish==4.16.0
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2020.6.20
cffi==1.14.4
chardet==3.0.4
click==7.1.2
colorama==0.4.4
configobj==5.1.0.dev0
configparser==5.0.0
contextlib2==0.6.0.post1
cryptography==3.3.1
css-parser==1.0.6
cssselect==1.1.0
cupshelpers==1.0
distlib==0.3.1
distro==1.5.0
dnspython==1.16.0
docopt==0.6.2
feedparser==5.2.1
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.9
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.4
gufw==21.4.0
html2text==2020.1.16
html5-parser==0.4.9
html5lib==1.1
idna==2.10
ifaddr==0.1.7
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.11.2
keyutils==0.6
lazy-object-proxy==1.4.3
lensfun==0.3.95
LibAppArmor==3.0.1
louis==3.16.0
lxml==4.6.2
Mako==1.1.3
Markdown==3.3.3
MarkupSafe==1.1.1
mccabe==0.6.1
mechanize==0.4.5
menulibre==2.2.1
msgpack==1.0.2
mugshot==0.4.3
netifaces==0.10.9
netsnmp-python==1.0a1
npyscreen==4.10.5
ordered-set==4.0.2
packaging==20.8
pacman-mirrors==4.19.1
pep517==0.9.1
pexpect==4.8.0
Pillow==8.1.0
pipenv==2020.11.15
ply==3.11
progress==1.5
psutil==5.8.0
psycopg2-binary==2.8.6
ptyprocess==0.7.0
pyaml==20.4.0
pycairo==1.20.0
pychm==0.8.6
pycodestyle==2.6.0
pycparser==2.20
pycups==2.0.1
pycurl==7.43.0.6
Pygments==2.7.4
PyGObject==3.38.0
PyJWT==1.7.1
pylint==2.6.0
pyOpenSSL==20.0.1
pyotp==2.4.1
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.2
pysmbc==1.0.23
python-dateutil==2.8.1
python-distutils-extra==2.39
pytoml==0.1.21
pytz==2020.1
pyxdg==0.26
PyYAML==5.3.1
rados==2.0.0
ranger-fm==1.9.3
rbd==2.0.0
redis==3.5.3
regex==2020.11.13
reportlab==3.5.59
requests==2.25.1
resolvelib==0.5.4
retrying==1.3.3
rgw==2.0.0
schedule==0.6.0
sip==4.19.24
six==1.15.0
soupsieve==2.1
SQLAlchemy==1.3.19
team==1.0
terminator==2.0.1
toml==0.10.2
tzlocal==2.1
udiskie==2.2.0
ufw==0.36
unrardll==0.1.4
urllib3==1.26.3
validate==5.1.0.dev0
virtualenv==20.2.2
virtualenv-clone==0.5.4
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
zeroconf==0.28.6
