@import '~antd/es/style/themes/default.less';

.main {
  width: 100%;
  background: @component-background;
}

.raw_operation {
  display: flex;
  flex-direction: row;

  p {
    color: blue;
    margin: 0px 10px;
    cursor: pointer;
  }
}

.inputArea {
  width: 80%;
}
