@import '~antd/es/style/themes/default.less';

.main {
  width: 100%;
  background: @component-background;

  Input {
    width: 200px;
  }
  .list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    border: solid 1px black;
    margin: 10px;
  }
}
